POSTGRES_PASSWORD=mypassword

PGHOST=myazureserverhostname
PGSSLMODE=verify-full
PGPASSWORD=myazurepassword

DAGSTER_PG_HOST=myazureserverhostname
DAGSTER_PG_USER=gridpulse
DAGSTER_PG_PASSWORD=myazurepassword
DAGSTER_PG_DB=dagster
